bucket         = "example-tfstate-784318225077-eu-west-1"
key            = "services/example-api/staging/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "example-tfstate-lock"
encrypt        = true
