bucket         = "example-tfstate-123456789012-eu-west-1"
key            = "services/example-api/dev/terraform.tfstate"
region         = "eu-west-1"
dynamodb_table = "example-tfstate-lock"
encrypt        = true
